html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.loginmenu {
    margin: auto;
    width: 300px;
    height: 30vh;
    background-color:white;
    padding: 5%;

}
.label {
     background-color: white;
}
